[user]
	name = David Nelson
	email = eatdrinksleepcode@gmail.com
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
[push]
	default = current
[alias]
	co = checkout
	fixup = commit -a --amend --no-edit
	unstage = reset HEAD --
        log-all = log --all --graph --decorate --graph
	log-ahead = log @{u}..
    default-branch = "!basename $(git rev-parse --abbrev-ref origin/HEAD)"
	log-branch = "!git log --oneline ${1:-$(git default-branch)}.."
	diff-branch = "!git diff ${1:-$(git default-branch)}... #"
	exec-branch = "!git rebase -i --keep-base ${2:-$(git default-branch)} --exec \"${1:-}\" #"
	trim-branch = !git branch -d $(git branch --list | grep -v \"^\\*\")
	rebase-branch = !git rebase -i --keep-branch ${1:-$(git default-branch)}
	branch-cleanup = "!git branch -d $(git branch --list | grep -v \"^*\")"
	lol = log --pretty=format:'%Cgreen%ad%Creset %C(auto)%h%d %s %C(bold blue)<%aN>%Creset' --date=format-local:'%Y-%m-%d %H:%M (%a)'
	ff = merge --ff-only @{u}
	unpushed = lol --branches --tags --not --remotes --no-walk

[pull]
	rebase = true
[fetch]
	prune = true
[advice]
	addIgnoredFile = false
	detachedHead = false
[rebase]
	autostash = true
[log]
	abbrevcommit = true
[submodule]
	recurse = true
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
