[push]
	default = simple
[alias]
	co = checkout
	fixup = commit -a --amend --no-edit
	unstage = reset HEAD --
        log-all = log --all --graph --decorate --graph
	diff-branch = "!git diff $(git merge-base master ${1:-HEAD}) ${1:-} #"
	exec-branch = "!git rebase -i $(git merge-base master HEAD) --exec \"${1:-}\" #"
	trim-branch = !git branch -d $(git branch --list | grep -v \"^\\*\")
	rebase-branch = !git rebase -i $(git merge-base master HEAD)
	branch-cleanup = "!git branch -d $(git branch --list | grep -v \"^*\")"
[pull]
	rebase = true
[fetch]
	prune = true
